body{
    padding: 0;
    margin: 0;
}

.red-row {
    background-color: #b80101 !important; /* Light red background */
    color: white;
  }
  .green-row {
    background-color: #118302 !important; /* Light red background */
    color: white;

  }
  
  .yellow-row {
    background-color: #eeff00 !important; /* Light red background */
  }