@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  color: #333;
  font-family: "Poppins", sans-serif !important;
}

.red-row {
  color: #b80101 !important; /* Light red background */
  font-size: 25px;
}
.green-row {
  font-size: 25px;

  color: #118302 !important; /* Light red background */
}

.yellow-row {
  font-size: 25px;

  color: #eeff00 !important; /* Light red background */
}
.ant-table-wrapper {
  overflow-x: auto;
}
.top-20-modal.ant-modal {
  top: 20px;
}
/* .ant-space-item{
    width: 100%;
  } */
.ant-col {
  padding: 5px;
}
.radius-20-img {
  border-radius: 20px;
}
.wp-img-t {
  width: 25px;
  cursor: pointer;
}
.wp-img-t:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.icons-cont {
  display: flex;
}
.icons-cont svg {
  font-size: 20px;
  cursor: pointer;
}
.icons-cont .delete-icon:hover {
  color: red;
}
.icons-cont svg:hover {
  transform: scale(1.2);
  transition: 0.4s;
}
.collapse-left0se-c svg{
  color: white;
  cursor: pointer;
}
.collapse-left0se-c{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}